
@model string

<div class="modal fade" id="tableFilterModal" tabindex="-1" aria-labelledby="tableFilterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tableFilterModalLabel">篩選條件</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="filterModalBody">
                <!-- JS 會根據 table thead 動態產生篩選項目 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="applyFilterBtn">套用篩選</button>
            </div>
        </div>
    </div>
</div>